<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.mybatisEx.dao.Sys_right_controller_methodExMapper">
  <update id="updateSortFromId">
    update sys_right_controller_method set sort = id where sort is null;
  </update>

</mapper>